
@font-face {
    font-family: arcade;
    src: url('./components//assets/fonts/arcade.ttf') format('truetype');
}

@font-face {
    font-family: title;
    src: url('./components/assets/fonts/space.otf') format('opentype');
}

@font-face{
    font-family: pixel;
    src: url('./components/assets/fonts/pixel.ttf') format('truetype');
}

body {
    background-color: #1c1c1c;
}

html {
    color-scheme: dark;
}

h1 {
    font-family: title;
    text-align: center;
    color: #f0f0f0f0;
    font-size: 60pt;
    padding-top: 40px;
}

h2 {
    font-family: title;
    text-align: center;
    color: #f0f0f0f0;
    font-size: 40pt;
    padding-top: 60px;
}

.container {
    text-align: center;
    padding-bottom: 25px;
    display: block;
    margin: auto;
}

.btn {
    font-family: arcade;
    font-size: 40px;
    color: #f0f0f0f0;
}

.th,.tr,.tbody,.td {
    font-family: arcade;
    font-size: 40px;
    color: #f0f0f0f0;
}

.sbtn {
    font-family: arcade;
    font-size: 28px;
    color: #f0f0f0f0;
}

.MuiInputLabel-root {
    font-family: pixel !important;
    color: #f0f0f0f0 !important;
}

.MuiOutlinedInput-root {
    font-family: pixel !important;
    color: #f0f0f0f0 !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-width: 2px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #f0f0f080 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #fffffff0 !important;
}

.panel {
    width: 200px;
    height: 600px;
    background-color: dimgrey;
    display: flex;
    flex-direction:column;
}

.panel-top {
    padding-top: .5em;
    padding-bottom: .5em;
}

img:hover {
    cursor: pointer;
}

.numbers {
    padding-right: 5px;
}

.towers {
    display: grid;
    grid: 80px 80px / auto auto;
    width: 100%;
}

.game {
    width: 1100px;
    text-align: center;
    display: flex;
    margin: auto;
    align-items: center;
}

.sellButton {
    margin: auto;
}

.message {
    opacity: 0;
}

.play-pause {
}

.waves-scores-wrapper {
    display: flex;
    width: 1100px;
    margin: auto;
}

.wave-label {
    color: red;
    display: inline-block;
    padding-top: 50px;
    padding-left:2px;
    width: 25%;
    height: 40px;
    font-size: 13pt;
    font-family: pixel;
}

.enemy-count {
    color: blueviolet;
    width: 25%;
    padding-top: 50px;
    height: 40px;
    font-size: 13pt;
    font-family: pixel;
}

.score-label {
    color: aqua;
    width:32%;
    padding-top: 50px;
    height: 40px;
    font-size: 13pt;
    font-family: pixel;
}

.money,
.lives {
    float: left;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.panel-bottom {
    display: grid;
    grid: 100px 100px / auto;
}

.timer {
    width: 200px;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: pixel;
    height: 40px;
    font-size: 15pt;
    font-family: pixel;
    padding: 40px;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #19131ee1;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
}

.popup {
    width: 40em;
    height: auto;
    background-color: #757575ba;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.popup-header {
    position: relative;
}

.popup-title{
    font-size: 35pt;
    padding-top: .5rem;
}

.popup-content {
    text-align: center;
    font-family: pixel;
    padding: 1rem;
}

.popup-footer {
    text-align: center;
    padding: 1rem;
}

.popup-button {
    font-size: 20pt;
}

.audio {
    color: white;
}

.audio-bttn {
    color: #853d3dd2 !important;
}

table {
    color: white;
    margin: auto;
    padding-bottom: 20px;
    border-collapse: separate;
    font-family: pixel;
    border-spacing: 1em;
}

.your-score {
    color: white;
    font-family: pixel;

}

.top {
    display: flex;
    width: 1100px;
    height: 50px;
    margin: auto;
}

.top-btn {
    margin-top: 10px;
    float: right;
}

p {
    margin: 0px;
}

.alert-container {
    width: 50%;
}

.audio-container {
    width: 50%;
    float: left;
}

.popup-alert {
    width: 150px;
    background-color: #b9b9b9c4;
    text-align: center;
    position: relative;
    float: right;
    padding-bottom: 3px;
    margin: 3px;
    border-radius: 2px;
    font-size: 15pt;
}
.yes {
    float: left;
    margin-left: 5px;
    font-size: 11pt;
}
.no {
    float: right;
    margin-right: 5px;
    font-size: 11pt;
}

.names {
    color: #ad57d5;
    font-size: 15pt;
}