
@font-face {
    font-family: arcade;
    src: url('./components/fonts/ARCADECLASSIC.TTF') format('truetype');
}

@font-face {
    font-family: title;
    src: url('./components/fonts/SpaceMonkeyBold.otf') format('opentype');
}

@font-face{
    font-family: label;
    src: url('./components/fonts/PublicPixel-0W6DP.ttf') format('truetype');
}

body {
    background-color: #1c1c1c;
}

html {
    color-scheme: dark;
}

h1 {
    font-family: title;
    text-align: center;
    color: #f0f0f0f0;
    font-size: 60pt;
    padding-top: 40px;
}

h2 {
    font-family: title;
    text-align: center;
    color: #f0f0f0f0;
    font-size: 40pt;
    padding-top: 60px;
}

.container {
    text-align: center;
    padding-bottom: 25px;
}

.btn {
    font-family: arcade;
    font-size: 40px;
    color: #f0f0f0f0;
}

.sbtn {
    font-family: arcade;
    font-size: 28px;
    color: #f0f0f0f0;
}

.MuiInputLabel-root {
    font-family: label !important;
    color: #f0f0f0f0 !important;
}

.MuiOutlinedInput-root {
    font-family: label !important;
    color: #f0f0f0f0 !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-width: 2px !important;
}

.MuiOutlinedInput-notchedOutline {
    border-color: #f0f0f080 !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #fffffff0 !important;
}

.testColor{
    color: #f0f0f0f0
}

#canvas{
    background-color:#394a49  ;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-width: 100px 10px 100px 10px;
    border-style: solid;
}
#canvas2{
    background-color:#394a49  ;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-left: 450px;
    padding-top: 10px;
    padding-right: 450px;
    border-width: 100px 10px 100px 10px;
    border-style: solid;
}

.main-footer {
    color: white;
    background-color: #1084c7;
    padding-top: 3em;
    position:fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }

  .container {
  
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }
  
  .box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
  }